{
    "idx": 0,
    "maxLines": 51,
    "wordWrapWidth": 200,
    "mongo_connection": "mongodb://localhost:27017/ascii_demo",
    "noVideo": false,
    "refreshRate": 500,
    "statusHeight": "60",
    "newWidth": 1000,
    "newHeight": 1000,
    "screenCaptureCommand": "screencapture -R150,60,1618,950",
    "twitterStatus": "#apitest Every picture tells a story...",
    "consumer_key": "",
    "consumer_secret": "",
    "access_token_key": "",
    "access_token_secret": ""
}
